<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-3 stores-grid">
				<div class="stores">
					<h3>Our Stores</h3>
					<ul>
							<li>Feel free to visit our stores.</li>
							<li>1234 South Grand Avenue </li>
							<li>Los Angeles, CA 00000 </li>
							<li>(123) 456-7890</li>
						<span>
							<li class="drive">123 Fairview Drive </li>
							<li>Area Name, VA 12345</li> 
							<li>(123) 456-7890</li>
						</span>
					</ul>
				</div>
				<div class="social-icons white-icons">
					<ul>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="chrome"></a></li>
						<li><a href="#" class="vimeo"></a></li>
						<li><a href="#" class="rss"></a></li>
				</div>
			</div>
			<div class="col-md-3 blog">
				<h3>Blog posts</h3>
				<a href="#">Post title goes here.</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">Post title goes here.</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
				<a href="#">Winter sales are coming!</a>
				<p>Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Donec sed auctor elit.
				</p>
			</div>
			<div class="col-md-3 support">
				<h3>Support</h3>
				<div class="support-grids">
					<div class="support-left">
						<ul>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Refunds</a></li>
							<li><a href="#">Track Order</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Privacy & Security</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Corporate Information</a></li>
						</ul>
					</div>
					<div class="support-left support-right">
						<ul>
							<li><a href="#">Sizing</a></li>
							<li><a href="#">Ordering</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Find A Store </a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Sign Up & Save</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 contact">
				<h3>Contact us</h3>
				<form>
					<input type="text" value="email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email address';}" required="">
					<textarea value="message:" onfocus="if(this.value == 'message') this.value='';" onblur="if(this.value == '') this.value='message';">message</textarea>
					<input type="submit" value="Send MESSAGE">
				</form>
			</div>
			<div class="clearfix"> </div>
			<div class="copyright">
				<p>&copy; 2015, PSHQ <a href="#">Furniture Template</a>. All rights reserved.</p>
			</p>
		</div>
		<!-- // container -->
	</div>

	<script type="text/javascript" src="/assets/modernizr.custom.min.js"></script>    
								
								<script src="/assets/jquery.magnific-popup.js" type="text/javascript"></script>

								<script>
										$(document).ready(function() {
										$('.popup-with-zoom-anim').magnificPopup({
											type: 'inline',
											fixedContentPos: false,
											fixedBgPos: true,
											overflowY: 'auto',
											closeBtnInside: true,
											preloader: false,
											midClick: true,
											removalDelay: 300,
											mainClass: 'my-mfp-zoom-in'
										});
																										
										});
								</script>	