<div class="products">
		<!-- container -->
		<div class="container">
			<div class="products-heading">
				<h3>POPULAR PRODUCTS</h3>
			</div>
			<div class="products-grids">
               <% @admin_products.each do |product| %>
				<div class="col-md-3 product-left-grid">
					<div class="product-grid">
						<div class="product-grid-text">
							<a href="<%=product_path(product)%>"><%= image_tag product.avatar.url(:normal) %></a>
							<div class="products-grid-info">
								<h3><%= product.name %></h3>
								<h4>Top Item</h4>
								<p><%#= truncate(product.description,length: 50) %> </p>
								<div class="price">
									<p>$ <%= product.price %></p>
								</div>
								<div class="like">
									<a href="#"><img src="/assets/like.png" alt="" /></a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="plus">
								<a href="single.html"><img src="/assets/plus.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
				 <%end%>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>