<div class="buy-now" id= "cartid">
								<ul>
							<li>

							<%= link_to "buy", cart_script_cart_path(:product_id => 
					  @product.id), remote: true %>
					  </li>

							
						</ul>
							</div>