<div class="men">
		<!-- container -->
		<div class="container">
		<div class="col-md-9 fashions">
				<div class="title">
					<h3>PRODUCTS</h3>
			</div>
				<div class="fashion-section">
				<div class="fashion-grid1" id = "productid">
					<%= render :partial => "/products/all_products" %>
					</div>
				</div>
			</div>	
			<%= render :partial => "/products/product_categories" %>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //men -->
	<!-- footer -->	
	<!-- //footer -->

