	<!-- header -->
	<!-- //header -->
	<!-- men -->
	<div class="men">
		<!-- container -->
		<div class="container">
			<div class="col-md-9 fashions">
				<div class="title">
					<h3>PRODUCTS</h3>
				</div>
				<div class="fashion-section">
					<div class="fashion-grid1">
						 <div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m4.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>								 
								 </div>							 
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						 </div>
						 <div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m2.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						 </div>
						 <div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m3.jpg" alt=""/>
								 <div class="product not-avaliable">
									 <h3>PRODUCT NAME</h3>
									 <p><del><span></span> 176.00 &euro;</del></p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4 class="sold-out"><a href="single.html"><del>Sold Out</del></a></h4>
							 </div>
						 </div>
						 <div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m5.jpg" alt=""/>
								 <div class="product not-avaliable">
									 <h3>PRODUCT NAME</h3>
									 <p><del><span></span> 176.00 &euro;</del></p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4 class="sold-out"><a href="single.html"><del>Sold Out</del></a></h4>
							 </div>
						 </div>
						 <div class="clearfix"></div>
					</div>
					<div class="fashion-grid2">
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m6.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img class="img-responsive zoom-img" src="/assets/m1.jpg" alt=""/>
								 <div class="product not-avaliable">
									 <h3>PRODUCT NAME</h3>
									 <p><del><span></span> 176.00 &euro;</del></p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4 class="sold-out"><a href="single.html"><del>Sold Out</del></a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m7.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m8.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="fashion-grid2">
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m9.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img class="img-responsive zoom-img" src="/assets/m10.jpg" alt=""/>
								 <div class="product not-avaliable">
									 <h3>PRODUCT NAME</h3>
									 <p><del><span></span> 176.00 &euro;</del></p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4 class="sold-out"><a href="single.html"><del>Sold Out</del></a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m12.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="col-md-3 fashion-grid">
							 <a href="single.html"><img src="/assets/m11.jpg" alt=""/>
								 <div class="product">
									 <h3>PRODUCT NAME</h3>
									 <p><span></span> 176.00 &euro;</p>
								 </div>
							 </a>
							 <div class="fashion-view"><span></span>
										<div class="clearfix"></div>
									 <h4><a href="single.html">Quick View</a></h4>
							 </div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 side-bar">
				<div class="categories">
					<h3>CATEGORIES</h3>
						<ul>
							<li><a href="#">Chair</a></li>
							<li><a href="#">Bed</a></li>
							<li><a href="#">Bean Bag</a></li>
							<li><a href="#">Mattress</a></li>
							<li><a href="#">Another Product</a></li>
							<li><a href="#">Product Name</a></li>
							<li><a href="#">Product 2</a></li>
							<li><a href="#">Product 3</a></li>
							<li><a href="#">Product 4</a></li>
						</ul>
				</div>
			</div>

			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //men -->
	<!-- footer -->	
	<!-- //footer -->
